body{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

p{
 text-align: center;
 overflow: overlay;
 position: relative;
}

body{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: rgb(248, 248, 248);
}

#wordchoice {
  margin-left: 35px;
  margin-top: 20px;
}

/* Play button */
.play_button{
margin-left: 10px;
positon: absolute;
}
.play {
display: inline;
float: left;
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 24px solid #2c3e50;
position: relative;
z-index: 1;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
left: 12px;
bottom: 20px;
}
.play:before {
content: '';
position: absolute;
top: -30px;
left: -46px;
bottom: -30px;
right: -14px;
border-radius: 50%;
border: 4px solid #2c3e50;
z-index: 2;
transition: all 0.3s;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
}
.play:after {
content: '';
opacity: 0;
transition: opacity 0.6s;
-webkit-transition: opacity 0.6s;
-moz-transition: opacity 0.6s;
}
.play:hover:before, .play:focus:before {
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
}
.play.active {
border-color: transparent;
}
.play.active:after {
content: '';
opacity: 1;
width: 20px;
height: 32px;
background: #2c3e50;
position: absolute;
right: 2px;
top: -16px;
border-left: 8px solid #2c3e50;
box-shadow: inset 12px 0 0 0 #f9f9f9;
}

/* Helpbox CSS */

#helpbox{
  float:right;
  margin-bottom: 1em;
  margin-left: 90.7em;

}

#helpbox input{
  position:absolute;
  bottom: 0px;
  right: 0px;
  width: 60px;
  opacity: 0.78;
}

#helpbox input:hover{
opacity: 1;
cursor: pointer;
}

#conteneur

{
  position: absolute;
  bottom: 2px;
  left: 300px;
  display: flex;
}
.motvalid{


  font-size:60px;

}

.lettrevalid{


  font-size:60px;
  color:orange;

}



.motnonvalid{


  font-size:60px;
  color:red;

}


.msgBox{
  position: absolute;
  bottom: 1;
  right: 0;
  color: #CC0000;
  margin-right: 30px;
  margin-top: 100px;
  padding: 1em;
  font-size:40px;
}

.alr {
  font-size: 20px;
  width:500px;  
  padding:10px;  
  margin-left: 120px;
  margin-top: 2px;
  color: #CC0000;
  position:fixed; 
  top:2%;  
  z-index:999;  
  -webkit-border-radius: 6px; -moz-border-radius: 6px
}

.nbd {
  font-size: 20px;
  width:500px;  
  padding:10px;  
  margin-left: 120px;
  margin-top: 2px;
  color: #009900;
  position:fixed; 
  top:2%;  
  z-index:999;  
  -webkit-border-radius: 6px; -moz-border-radius: 6px
}


/* Toolbox CSS */
#toolbox{
position: absolute;
bottom: 0;
left: 0;
margin-bottom: 0.5em;
margin-left: 1em;
border: 2px solid #EEEEEE;
border-radius: 5px;
padding: 1em;
z-index: 5;
}

#toolbox input{
width: 30px;
opacity: 0.4;
}
#toolbox input:hover{
opacity: 1;
cursor: pointer;
}

#hidden-file-upload{
display: none;
}

#download-input{
margin: 0 0.5em;
}


#Form_Button{

  position absolute;
  bottom: 1;
  right: 0;
  margin-right: 20px;
  margin-top:0px;
  padding: 1em;
  background-color: rgb(248, 248, 248);

}

/*   Color form CSS      */
#color-form {
display: none;
position: absolute;
bottom: 1;
right: 0;
margin-bottom: 0.5em;
margin-top: 0.5em;
margin-left: 1em;
border: 2px solid #EEEEEE;
border-radius: 5px;
padding: 1em;
z-index: 5;
background-color: rgb(248, 248, 248);
}
.button {
padding-left: 50px; /* même dimension que les étiquettes */

}
label {
display: block;
float: left;
margin-bottom: 3px;

}
button {
margin-top: .5em;
margin-left: .5em;
border: 2px solid #EEEEEE;
border-radius: 5px;
}

input:focus{
border-color: #000;
}

input {
font: 1em 'Arial';
width: 100px;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #999;
float: right;
}

/*  ON/OFF Switch  */
.onoffswitch {
position: absolute; width: 59px;
margin-left: 30px;
margin-top: 10px;
display: inline-block;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
display: block; width: 200%; margin-left: -100%;
transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "ON";
padding-left: 9px;
background-color: #34C268; color: #FFFFFF;
}
.onoffswitch-inner:after {
content: "OFF";
padding-right: 9px;
background-color: #EEEEEE; color: #999999;
text-align: right;
}
.onoffswitch-switch {
display: block; width: 14px; margin: 3px;
background: #FFFFFF;
position: absolute; top: 0; bottom: 0;
right: 35px;
border: 2px solid #999999; border-radius: 20px;
transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}


/*    Node CSS      */
.text {
fill: rgb(0,0,0);
}

.conceptG text{
pointer-events: none;
}

marker{
fill: #333;
}

g.conceptG:hover circle{
fill: rgb(200, 238, 241);
}

g.selected circle{
fill: rgb(250, 232, 255);
}
g.selected:hover circle{
fill: rgb(250, 232, 255);
}

g.doubled circle{
fill:   rgb(232,0,0);
}

/*   Label CSS */

path.link:hover{
stroke: rgb(94, 196, 204);
}

g.connect-node circle{
fill: #BEFFFF;
}

path.link.hidden{
stroke-width: 0;
}

path.link.selected {
stroke: rgb(229, 172, 247);
}


#word{

position: absolute;
bottom: 1;
right: 0;
height: 100px;
margin-right: 34px;
margin-top: 15px;
border: 4px solid #EEEEEE;
border-radius: 5px;
padding: 1em;
background-color: rgb(248, 248, 248);
}


#PluginRegexp{

  position absolute;
  bottom: 1;
  right: 0;
  margin-right: 20px;
  margin-top:0px;
  padding: 1em;
  background-color: rgb(248, 248, 248);
}

/* Confirmation sauvegarde fichier */
#confirmBox
{
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 310px;
  left: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}
#confirmBox .button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#confirmBox .button:hover
{
  background-color: #ddd;
}
#confirmBox .message
{
  text-align: left;
  margin-bottom: 8px;
}

/* */
#uploadGraph
{
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}
#uploadGraph .button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
#uploadGraph .button:hover
{
  background-color: #ddd;
}
#uploadGraph .message
{
  text-align: left;
  margin-bottom: 8px;
}

/* CSS modifiable */
path.link {
fill: none;
stroke: #333;
stroke-width: 6px;
cursor: default;
}

g.conceptG circle{
fill: #F6FBFF;
stroke: #333;
stroke-width: 2px;
}

g.active circle{
fill:   #00BFFF;
}
